* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url("../img/pizzabg.jpg");
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#background img {
    margin: 0;
    padding: 0;
    position: fixed;
}

#account{
  position: fixed;
  z-index: 300;
  width: 100%;
  top: 0;
}

#account .accountelement{
  color: white;
  width: 4%;
  float: right;
  text-align: right;
  margin-right: 2%;
  font-size: 120%;
  cursor: pointer;
}

#logo{
  position: relative;
  background-color: black;
  z-index: 100;
  width: 50%;
  height: 40vh;
  margin-top: 12.5%;
  margin-left: 25%;
  border: 0.5vh solid white;
  border-bottom: 0px;
  display: table;
}

#logo a{
  text-align: center;
  color: white;
  vertical-align: middle;
  display: table-cell;
  font-size: 300%;
}


#logo2 {
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
}

#logoname2 {
    text-align: center;
    font-size: 300%;
    color: white;
}


#nav {
    position: relative;
    background-color: black;
    z-index: 100;
    width: 50%;
    height: 5vh;
    margin-top: 0;
    margin-left: 25%;
    display: table;
    border: 0.5vh solid white;
    border-top: 0;
    border-bottom: 0;
}

.navelement {
    text-align: center;
    color: white;
    vertical-align: middle;
    display: table-cell;
    font-size: 150%;
    transition: .2s;
    width: 33%;
    border-bottom: 0.5vh solid white;
}

.navelement:hover {
    background-color: #B6B6B7;
    border-bottom: 0.5vh solid #777777;
}

.navselected {
    background-color: #B6B6B7;
    border-bottom: 0.5vh solid #777777;
}

a {
    text-decoration: none !important;
}

#menu {
    width: 100%;
}

#menu td {
    width: 33%;
}

.menuitem {
    text-align: center;
    background-color: #E7E7E7;
    margin: 10%;
    padding: 5%;
}

.menuitem img {
    text-align: center;
    width: 95%;
    margin: auto;
    border: 5px solid black;
}

#mapcontainer {
    width: 90%;
    height: 600px;
    margin: 5%;
    background-color: #E7E7E7;
}

#map {
    width: 600px;
    height: 600px;
    background: #B6B6B7;
    float: left;
}

.info {
    padding-top: 10px;
    margin-left: 625px;
}

#deliverycontainer{
  display: inline-block;
  width: 70%;
  margin: 15%;
  margin-top: 5%;
  background-color: #E7E7E7;
}

.deliveryitem{
  display: inline-block;
  height: 80%;
  margin-top: 2%;
  padding-top: 2%;
  margin-bottom: 2%;
  padding-bottom: 2%;
  background-color: #A1A1A1;
  width: 100%;
}

.deliveryitem img{
  width: 5%;
  margin-left: 2%;
  float: left;
}

.deliveryname{
  margin-left: 2%;
  font-size: 150%;
  margin-top: 1.3%;
  vertical-align: middle;
  float: left;
}

.deliveryitem i{
  float: right;
  margin-top: 1.3%;
  margin-right: 5%;
  font-size: 150%;
  cursor: pointer;
}

.myButton {
    -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
    -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}
